node_modules
dist
build
coverage
*.log
*.tsbuildinfo

# Local data
data/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# Env
.env
.env.local
.env.*.local

# Editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Fly
.fly/
